services:
  db:
    image: postgres:16
    env_file:
      - ./.env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: ./src/api
    env_file:
      - ./.env
    ports:
      - "3000:3000"
    depends_on:
      - db
    volumes:
      - ./src/api:/app
      - api_node_modules:/app/node_modules
    command: ["bun", "run", "dev"]

  web:
    build: ./src/web
    env_file:
      - ./.env
    ports:
      - "5173:5173"
    depends_on:
      - api
    volumes:
      - ./src/web:/app
      - web_node_modules:/app/node_modules
    command: ["bun", "run", "dev", "--", "--host", "0.0.0.0", "--port", "5173"]

volumes:
  pgdata:
  web_node_modules:
  api_node_modules: